// BEGIN: Slide Projector Carousel
.carouselSlideProjector
  .projection
    ul
      li
        .caption
          h2 Back up data faster without breaking the bank.
          h3
            | Navigate through the most common storage hurdles
            br
            | and embrace greater efficiency.
            a(href='replaceMe', target='_blank') Learn more here &gt;
        img(data-src='example.com/950x285/first', alt='')
      li
        .caption
          h2 Tackle security challenges head-on.
          h3
            | Protect your company's most prixed assets: its data.
            a(href='replaceMe') Gain expert insight here &gt;
        img(data-src='example.com/950x285/second', alt='')
      li
        .caption
          h2 Still up in the air?
          h3
            | Overcome uncertainty with a definitive
            br
            | cloud computing roadmap.
            a(href='replaceMe') Get started here &gt;
        img(data-src='example.com/950x285/third', alt='')
      li
        .caption
          h2
            | EMR is changing the
            br
            | game in healthcare.
          h3
            | Deliver superior services with Dell.
            a(href='replaceMe') Learn how here &gt;
        img(data-src='example.com/950x285/fourth', alt='')
      li
        .caption
          h2
            | Thinking about shiting
            br
            | towards the cloud?
          h3
            | Discover how vSphere 5 accelerates and
            br
            | simplifies the cloud for your organization.
            a(href='replaceMe') Learn how &gt;
        img(data-src='example.com/950x285/fifth', alt='')
  .slides
    ul
      li.active
        img(data-src='example.com/94x59/first', alt='')
        span Better Backup and Recovery
      li
        img(data-src='example.com/94x59/second', alt='')
        span The Most Reliable Data Protection
      li
        img(data-src='example.com/94x59/third', alt='')
        span Your Guide to Cloud Computing
      li
        img(data-src='example.com/94x59/fourth', alt='')
        span Emerging Healthcare IT Advancements
      li
        img(data-src='example.com/94x59/fifth', alt='')
        span First-class virtualization
// END: Slide Projector Carousel